{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!--================login_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 d-none d-lg-block d-md-block">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Existing member?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="{{ path('app_login') }}" class="btn_3">Sign in</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <div class="login_part_form_iner">
                            <h3>Welcome!<br>
                                Sign up now</h3>
                            {{ form_start(registrationForm) }}
                            <div class="col-md-12 form-group p_star">
                                {{ form_row(registrationForm.firstname, {
                                    label: ' '
                                })}}
                                {{ form_row(registrationForm.lastname, {
                                    label: ' '
                                }) }}
                                {{ form_row(registrationForm.phone, {
                                    label: ' '
                                }) }}
                                {{ form_row(registrationForm.email, {
                                    label: ' '
                                }) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: ' '
                                }) }}
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    {{ form_row(registrationForm.agreeTerms, {
                                        label : ' ',
                                        id : 'f-option'
                                    }) }}
                                    {{ form_label(registrationForm.agreeTerms, 'Agree Terms') }}
                                </div>
                                <button type="submit" class="btn_3">Register</button>
                                <div class="auth_alter text-center d-lg-none d-md-none">
                                    <p>Existing member? <a href="{{path('app_login')}}">Sign in</a></p>
                                </div>
                            </div>
                            {{ form_end(registrationForm) }}
{#                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    <input type="text" class="form-control" id="name" name="name" value=""#}
{#                                           placeholder="Username">#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group p_star">#}
{#                                    <input type="password" class="form-control" id="password" name="password" value=""#}
{#                                           placeholder="Password">#}
{#                                </div>#}
{#                                <div class="col-md-12 form-group">#}
{#                                    <div class="creat_account d-flex align-items-center">#}
{#                                        <input type="checkbox" id="f-option" name="selector">#}
{#                                        <label for="f-option">Remember me</label>#}
{#                                    </div>#}
{#                                    <button type="submit" value="submit" class="btn_3">#}
{#                                        log in#}
{#                                    </button>#}
{#                                    <a class="lost_pass" href="#">forget password?</a>#}
{#                                </div>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
{% endblock %}
